{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="shopping_basket " class="bg-light">
    <div class="container pt-2 pb-2">
        <div class="card border-0 badge-light" id="basket">
            <h3 class="bg-dark text-white">My Basket</h3>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card-body border bg-white">
                        {% for cart in cart %}
                        <form method="POST">
                            {% csrf_token %}
                            <input name="item" type="hidden" value="{{cart.id}}">
                            <button type="submit" class="btn btn-danger pt-0" style="float: right;">remove</button>
                        </form>
                        <div class="row pt-2" > 
                        
                                
                                <img  src="{{cart.products.product.url}}"class="img-responsive" style="min-width: 200px; max-width: 200px; min-height:200px;  max-height: 200px;" alt="Image">
                                   
                                <div class=" ml-3 ">
                                    
                                    <h3>{{cart.products.brand_name}}</h3>
                                    <h5 style="color:lightgrey;">{{cart.products.brand_title}}</h5>
                                    <h4>Price : {{cart.products.price}}</h4>
                                    <h4>Size : {{cart.products.size}}</h4>
                                    <h4>Quantity : 1</h4>

                                </div>

                        </div>
                        
                        <hr>

                    {% endfor %}    
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-body border bg-white">
                        <h4>Price Details ( items {{cart.count}} )</h4><hr>
                        <div class="row">
                            <div class="col-sm-5"><h4>price :</h4></div>
                            <h5 class="text-secondary pt-1 " style="margin-left: 100px;">{% for cart in cart %}{{cart.products.price}} <br>{% endfor %}</h5>
                        </div>
                        <hr>
                        <h5 class="text-danger">Total price :&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp; {{total_price}} </h5>
                        <button class="btn btn-danger">Place Order</button>
                    </div>
                </div>

            </div>
          
        </div>
    </div>
</section>
{% endblock %}