   <!-- contact & services-->  

   <section>
    <div class="container-fluid" id="about_contact">
      <div class="row">
        <div class="col-sm-4 text-white pt-2 pb-2" >
          <div class="card" id="about_col1">
            <h3 class="text-center">
              contact us
            </h3>
            <div class="card-body">
            <h6><p>
                mobile: +91 9690424597, 7906652905
  
              </p>
              </h6>
              <h6><p>
                email: <a class="text-white" href="">mohinivarshney06@gmail.com</a>
  
              </p>
              </h6>
            </div>
          </div>
  
  
        </div>
      <div class="col-sm-4 text-white pt-2 pb-2">
          <div class="card" id="about_col2">
            <h3 class="text-center">
              SHOPS
            </h3>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <h4>Mens</h4>
                  <h5>clothing</h5>
                  <h5>Footwear</h5>
                  <h5>Watches</h5>
                  <h5>Bags</h5>


                </div>
                <div class="col-md-4">
                  <h4>Womens</h4>
                  <h5>clothing</h5>
                  <h5>Footwear</h5>
                  <h5>Watches</h5>
                  <h5>Bags</h5>
                </div><div class="col-md-4">
                  <h4>Kids</h4>
                  <h5>clothing</h5>
                  <h5>Footwear</h5>
                  <h5>Watches</h5>
                  <h5>Bags</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-white pt-2 pb-2">
          <div class="card" id="about_col3">
            <h3 class="text-center">
              your feedback
            </h3>
          </div>
        </div>
      </div>
    </div>
</section>  

{% if user.is_authenticated %}
<!-- Footer -->
  <footer  class="page-footer font-small bg-light ">
   
<!--footer links-->
<div class=" container ">
  

       
<!-- grid view-->
   <div class="row  text-center d-flex justify-content-center pt-5 mb-3">

<!--grid col1 -->

          <div class="col-md-2 mb-2">
        <h6 class=" font-weight-bold"
            {% if '/' == request.path%}
              class=" active mr-3"
            {% else %}
              class=" mr-3"
            {%endif%} >
            <a  href="{%url 'index'%}">Home</a>
          </h6></div>


<!--grid col2 -->
          <div class="col-md-2 mb-2">
           <h6 class=" font-weight-bold"
             {% if 'about' in request.path%}
              class="active mr-3"
            {% else %}
              class="mr-3"
            {%endif%}
            >
            <a  href="{% url 'about'%}">About us</a>
          </h6>
        </div>
         
      
        <div class="col-md-2 mb-2 ">
          <h6 class=" font-weight-bold">
           <a  href="{% url 'profile'%}">{{ user.username }}</a>
         </h6>
       </div>
       </div>
       <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright &copy;
      <span class="year"></span>
      <a href="{% url 'index' %}"> ONLINE STORE</a>
   
  </div>
   
  </footer>

        {% else %}
        <!-- Footer -->
  <footer  class="page-footer font-small bg-white ">
   
    <!--footer links-->
    <div class=" container ">
      
    
           
    <!-- grid view-->
       <div class="row  text-center d-flex justify-content-center pt-5 mb-3">
    
    <!--grid col1 -->
    
              <div class="col-md-2 mb-2">
            <h6 class=" font-weight-bold"
                {% if '/' == request.path%}
                  class=" active mr-3"
                {% else %}
                  class=" mr-3"
                {%endif%} >
                <a  href="{%url 'index'%}">Home</a>
              </h6></div>
    
    
    <!--grid col2 -->
              <div class="col-md-2 mb-2">
               <h6 class=" font-weight-bold"
                 {% if 'about' in request.path%}
                  class="active mr-3"
                {% else %}
                  class="mr-3"
                {%endif%}
                >
                <a  href="{% url 'about'%}">About us</a>
              </h6>
            </div>
             
          

            <div class="col-md-2 mb-2 ">
             <h6 class=" font-weight-bold">
              <a  href="{% url 'login'%}">Login</a>
            </h6>
          </div>
            <div class="col-md-2 mb-2 ">
             <h6 class=" font-weight-bold">
              <a  href="{% url 'signup'%}">SignUp</a>
            </h6>
          </div>
        </div>
      </div>
      <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright &copy;
      <span class="year"></span>
      <a href="{% url 'index' %}"> ONLINE STORE</a>
   
  </div>
   
  </footer>
          {% endif %}



