{% extends 'shop/shop.html' %}

{% load static %}
{% block title %}|Shop|Men's {% endblock %}

{% block shop_title %}|{%if 'footwear' in request.path %} Footwear {% elif 'bags' in request.path %} Bags
{% elif 'watches' in request.path %} Watches {% else %} clothing Section {% endif %} |product deatils{% endblock %}

{% block shop %}

<div class="card-body border-0" style="box-shadow: 4px 4px 20px lightgray;">
    
      
        <div class="row" >
            <!--Shirt -->  
           {% if product %}
            <div class="col-md-4 border-0">
                <a href="{{product.product.url}}" data-lightbox="products">
                <img  src="{{product.product.url}}"class="img-responsive" style="box-shadow: 4px 4px 10px rgb(24, 23, 23);min-width: 300px; max-width: 300px; min-height:400px;  max-height: 400px;" alt="Image">
            </a>
            </div>
            <div class="col-md-6 ml-3">
                <form method="POST">
                    {% csrf_token %}
                <h1 class="ml-2">{{ product.brand_name }}</h1>
                <h3 class="text-info ml-2">{{ product.brand_title }}</h3>
                <h4 class="ml-2">Price:₹{{ product.price }}</h4>

                    <div class="footer" id="add_basket">
                   
                        <div class="form-group">
                            
                            <h6 class="ml-2">Size</h6>
                        
                            <input class="btn ml-4" type="button" value="{{product.size}}" name="size" placeholder="{{product.size}}" >

                        </div>
                      <p>      
                          <input name="product_id" type="hidden" value="{{product.id}}">
                            {% if user.is_authenticated %}
                            <button class="btn btn-danger" type="submit">Add Basket</button>
                            <a class="btn btn-info" type="submit" href="{% url 'cart'  %}">Buy Now</a>
                            {% else %}
                            <a class="btn btn-danger" type="submit" href="{% url 'login'  %}">Add Basket</a>
                            <a class="btn btn-info" type="submit" href="{% url 'login'  %}">Buy Now</a>
                            {% endif %}

                        </p>
                    </div>
                </form>

            </div>
            {% endif %}
        </div>
   

</div>
{% endblock %}