{% extends 'base.html' %}
{% load static%}
{% block content %}

<section id="profile">
	<div class="container">
		<div class="row">
			

<!--Mohini-->
			<div class="col-md-auto"></div>
			<div class="col-md-auto"></div>


			<div class="col-md-4 mx-5 ">
				<div class="text-center px-2">
					<img class="rounded-circle pt-4" src="{% static 'img/mohini1.jpg'%}" style="max-width: 250px; min-width: 200px; max-height: 300px; min-height: 300px; ">
					<h4 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mohini Varshney</h4>
				</div>

			</div>
			


<!--Disha-->
			<div class="col-md-auto"></div>

			<div class="col-md-4 mx-5">
				<div class="text-center px-2">
					<img class="rounded-circle pt-4" src="{% static 'img/disha.jpg'%}" style="max-width: 250px; min-width: 200px; max-height: 300px; min-height: 300px;">
					<h4 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Disha Sharma</h4>
				</div>

			</div>
		</div>
	</div>
       
</section>
       <!-- about us-->  

<section id="aboutus">
	<div class="container">
		<div class="card bg-white">
			<h3 class="card-title text-center">Who We Are?</h3>
			<div class="card-body">
				<p style="font-size: 20px; font-family: cursive; text-align: justify;">
				If you would like to experience the best online shopping for men, women, kids etc in India, you are at the right place. 
				Online Store is the ultimate destination for fashion and lifestyle, being host to wide array of merchandise including clothing, footwear, accessories, jewellery, personal care products and more.
				It is time to redifine your style statement with our trendy items. Our online store brings you in latest designer products straight  out of fashion houses.
				You can shop online at online store with the comfort from your home and get your favourites delivered right to your door step.   	
				</p>
			</div>
			
		</div>
		
	</div>
	
</section>
<br>
       <!-- contact & services-->  

<section>
	<div class="container-fluid" id="about_contact">
		<div class="row">
			<div class="col-sm-4 text-white pt-2 pb-2" >
				<div class="card" id="about_col1">
					<h3 class="text-center">
						contact us
					</h3>
					<div class="card-body">
					<h6><p>
							mobile: +91 9690424597, 7906652905

						</p>
						</h6>
						<h6><p>
							email: <a class="text-white" href="">mohinivarshney06@gmail.com</a>

						</p>
						</h6>
					</div>
				</div>


			</div>
			<div class="col-sm-4 text-white pt-2 pb-2">
				<div class="card" id="about_col2">
					<h3 class="text-center">
						SHOPS
					</h3>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-6">
								<h6>
									Mens
								</h6>
								<h6>
									Womens
								</h6>
								<h6>
									Kids
								</h6>
							</div>

							<div class="col-sm-6">
								<h6>
									Electronics
								</h6>
								<h6>
									Beauty Products
								</h6>
								<h6>
									Some Others
								</h6>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 text-white pt-2 pb-2">
				<div class="card" id="about_col3">
					<h3 class="text-center">
						your feedback
					</h3>
				</div>
			</div>
		</div>
	</div>
</section>





{% endblock %}