{% extends 'shop/shop.html' %}

{% load static %}
{% block title %}|Shop|Women's {% endblock %}

{% block shop_title %}| Shop| Women | Bags
{% endblock %}

{% block shop %}

<div class="card-body border-0" style="box-shadow: 4px 4px 20px lightgray;">
    
    <div id="clothes" class="container-fluid text-center" >    
        <div class="row " >
            <!--Sports Shoes -->  
        
                <div  class="col-sm-4">
                    <a href="{% url 'handbags_women' %}"> 
                    <img  src="{% static 'img/hand1.jpeg' %}"class="img-responsive" style="min-width: 200px; max-width: 200px; min-height:250px;  max-height: 250px;" alt="Image">
                    <div class="middle">
                    <div class="text">
                        <b>Hand Bags</b>
                    </div>
                    </div>
                    <h6>Hand Bags</h6>
                    </a>
                </div>
        <!-- Sports Shoes -->  
        
                <div class="col-sm-4">
                    <a href="{% url 'backpack_women' %}">
                    <img src="{% static 'img/backpag1.jpeg' %}" class="img-responsive" style="min-width: 200px; max-width: 200px; min-height:250px;  max-height: 250px;" alt="Image">
                    <div class="middle">
                    <div class="text">
                        <b>Backpack</b>
                    </div>
                    </div>
                    <h6>Backpack</h6> 
                    </a>   
                </div>
        <!-- Casual Shoes-->  
        
                <div class="col-sm-4">
                        <a href="{% url 'shoulderbags_women' %}">
                        <img src="{% static 'img/shoulder1.jpeg' %}" class="img-responsive" style="min-width: 200px; max-width: 200px; min-height:250px;  max-height: 250px;" alt="Image">         
                        <div class="middle">
                        <div class="text">
                            <b>Shoulder Bags</b>
                        </div>
                        </div>
                        <h6>Shoulder Bags</h6>
                    </a>
                    </div>
               
        <!-- Sandals -->
                <div class="col-sm-4">
                    <a href="{% url 'messengerbags_women' %}">
                    <img src="{% static 'img/messenger1.jpeg' %}" class="img-responsive" style="min-width: 200px; max-width: 200px; min-height:250px;  max-height: 250px;" alt="Image">
                    <div class="middle">
                    <div class="text">
                        <b>Messenger Bags</b>
                    </div>
                    </div>
                    <h6>Messenger bags</h>
                    </a>
                </div>
<!--Sleepers-->
                <div class="col-sm-4">
                    <a href="{% url 'hobobags_women' %}">
                    <img src="{% static 'img/hobo1.jpeg' %}" class="img-responsive" style="min-width: 200px; max-width: 200px; min-height:250px;  max-height: 250px;" alt="Image">
                    <div class="middle">
                    <div class="text">
                        <b>Hobo Bags</b>
                    </div>
                    </div>
                    <h6>Hobo Bags</h>
                    </a>
                </div>

<!--travelling bags-->
                <div class="col-sm-4">
                    <a href="{% url 'travellingbags_women' %}">
                    <img src="{% static 'img/travelling1.jpg' %}" class="img-responsive" style="min-width: 200px; max-width: 200px; min-height:250px;  max-height: 250px;" alt="Image">
                    <div class="middle">
                    <div class="text">
                        <b>Travelling Bags</b>
                    </div>
                    </div>
                    <h6>Travelling Bags</h>
                    </a>
                </div>
            </div>
    </div>
   

</div>
{% endblock %}