#header {
	height: 50px;
	background: linear-gradient(to bottom right,#ff6600 0%, #ffcc00 100%);
	color: #ffffff;
}

#branding h1{
	color: #ffffff;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #ffffff;
}

a:link
a:visited {
	color: #10284e;
}

div.breadcrumbs {
	background-color: #30caa0;

}
div.breadcrumbs a {
    color: #2f3542;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #30caa0;
    color: #fff;
}